{
  "openapi": "3.1.0",
  "info": {
    "title": "Datafy API — Enviar botão com link",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://cloud.datafyapi.com.br", "description": "Produção" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/{phone_number_id}/messages": {
      "post": {
        "summary": "Enviar botão com link",
        "operationId": "enviarBotaoLink",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "ID do número que envia a mensagem. Descubra com `GET /me`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MensagemBotaoLink" },
              "example": {
                "messaging_product": "whatsapp",
                "recipient_type": "individual",
                "to": "5511999999999",
                "type": "interactive",
                "interactive": {
                  "type": "cta_url",
                  "header": {
                    "type": "text",
                    "text": "Seu pedido saiu para entrega"
                  },
                  "body": {
                    "text": "O pedido 7539 já está a caminho. Toque no botão para acompanhar a entrega em tempo real."
                  },
                  "footer": {
                    "text": "Loja Exemplo"
                  },
                  "action": {
                    "name": "cta_url",
                    "parameters": {
                      "display_text": "Acompanhar entrega",
                      "url": "https://datafyapi.com.br"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Envio aceito pela Meta. Não confirma a entrega.",
            "content": {
              "application/json": {
                "example": {
                  "messaging_product": "whatsapp",
                  "contacts": [{ "input": "5511999999999", "wa_id": "5511999999999" }],
                  "messages": [{ "id": "wamid.HBgNNTUxMTk5OTk5OTk5ORUCABIYFjNFQjA=" }]
                }
              }
            }
          },
          "400": {
            "description": "Erro retornado pela Meta.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "message": "(#100) Invalid parameter",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AbCdEfGhIjK"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token ausente ou inválido.",
            "content": {
              "application/json": {
                "example": { "statusCode": 401, "message": "Token inválido ou não encontrado." }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token gerado no painel da Datafy ao criar o canal. Formato: `sk_live_xxx`."
      }
    },
    "schemas": {
      "MensagemBotaoLink": {
        "type": "object",
        "required": ["messaging_product", "to", "type", "interactive"],
        "properties": {
          "messaging_product": {
            "type": "string",
            "enum": ["whatsapp"],
            "default": "whatsapp",
            "example": "whatsapp",
            "description": "Sempre `whatsapp`."
          },
          "recipient_type": {
            "type": "string",
            "enum": ["individual"],
            "default": "individual",
            "example": "individual",
            "description": "Sempre `individual`."
          },
          "to": {
            "type": "string",
            "example": "5511999999999",
            "description": "Número do destinatário com código do país e DDD, como `5511999999999`. Tem prioridade sobre `recipient`: para enviar pelo ID do usuário, deixe em branco."
          },
          "recipient": {
            "type": "string",
            "description": "ID do usuário no WhatsApp (BSUID), recebido nos webhooks em `from_user_id` e `contacts[].user_id`, como `BR.13491208655302741918`. Usado quando `to` não é informado."
          },
          "type": {
            "type": "string",
            "enum": ["interactive"],
            "default": "interactive",
            "example": "interactive",
            "description": "Sempre `interactive`."
          },
          "interactive": {
            "type": "object",
            "required": ["type", "body", "action"],
            "description": "Mensagem com um botão que abre uma URL.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["cta_url"],
                "default": "cta_url",
                "example": "cta_url",
                "description": "Sempre `cta_url`."
              },
              "header": { "$ref": "#/components/schemas/Cabecalho" },
              "body": {
                "type": "object",
                "required": ["text"],
                "description": "Texto principal da mensagem.",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1024,
                    "example": "O pedido 7539 já está a caminho. Toque no botão para acompanhar a entrega em tempo real.",
                    "description": "Texto da mensagem, com até 1.024 caracteres. URLs viram links clicáveis."
                  }
                }
              },
              "footer": {
                "type": "object",
                "description": "Rodapé opcional, exibido abaixo do texto em cinza.",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 60,
                    "example": "Loja Exemplo",
                    "description": "Texto do rodapé, com até 60 caracteres."
                  }
                }
              },
              "action": {
                "type": "object",
                "required": ["name", "parameters"],
                "properties": {
                  "name": {
                    "type": "string",
                    "enum": ["cta_url"],
                    "default": "cta_url",
                    "example": "cta_url",
                    "description": "Sempre `cta_url`."
                  },
                  "parameters": {
                    "type": "object",
                    "required": ["display_text", "url"],
                    "properties": {
                      "display_text": {
                        "type": "string",
                        "maxLength": 20,
                        "example": "Acompanhar entrega",
                        "description": "Texto do botão, com até 20 caracteres."
                      },
                      "url": {
                        "type": "string",
                        "example": "https://datafyapi.com.br",
                        "description": "URL aberta no navegador do celular quando o cliente toca no botão. Não aparece no texto da mensagem."
                      }
                    }
                  }
                }
              }
            }
          },
          "context": {
            "type": "object",
            "description": "Responde citando uma mensagem anterior da conversa.",
            "properties": {
              "message_id": {
                "type": "string",
                "description": "ID (`wamid`) da mensagem que será citada."
              }
            }
          }
        }
      },
      "Cabecalho": {
        "type": "object",
        "required": ["type"],
        "description": "Cabeçalho opcional. Use um texto ou uma mídia: imagem, vídeo ou documento.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text", "image", "video", "document"],
            "example": "text",
            "description": "Tipo do cabeçalho."
          },
          "text": {
            "type": "string",
            "maxLength": 60,
            "example": "Seu pedido saiu para entrega",
            "description": "Texto do cabeçalho, com até 60 caracteres. Usado quando `type` é `text`."
          },
          "image": { "$ref": "#/components/schemas/MidiaCabecalho" },
          "video": { "$ref": "#/components/schemas/MidiaCabecalho" },
          "document": { "$ref": "#/components/schemas/MidiaCabecalho" }
        }
      },
      "MidiaCabecalho": {
        "type": "object",
        "description": "Mídia do cabeçalho, usada quando `type` é `image`, `video` ou `document`. Informe `link` ou `id`, nunca os dois.",
        "properties": {
          "link": {
            "type": "string",
            "description": "URL pública da mídia. Você pode gerar um link na aba **Mídias** do número, no painel da Datafy."
          },
          "id": {
            "type": "string",
            "description": "ID da mídia retornado pelo endpoint **Upload de mídia**."
          }
        }
      }
    }
  }
}
